p {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

span {
  font-weight: 100;
}

strong {
  font-weight: 600 !important;
}

a {
  font-size: 1rem;
  text-decoration: none !important;
}

.grey-text {
  color: $greytext;
}

a.grey-text {
  &, &:visited, &:active {
    color: $greytext;
  }
}

.bigger-text {
  font-size: 1.2rem;
}

.title {
  font-size: 2rem;
  font-weight: 100;
}
