/* src/assets/styles/utils/_colors.scss  */

$navbg: #86A7B2;
$footerbg: #0F0A05;
$white: #ffffff;

$iceberg: #DBF5EC;
$balihai: #86A7B2;
$green: #00B901;
$greytext: #202428;
$sandy: #FEEEDB;
$nhatranghai: #DBF5EC;

$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$wisteria: #8e44ad;
$amethyst: #9b59b6;
$wetasphalt: #34495e;
$midnightblue: #2c3e50;
$peterriver: #3498db;
$belizehole: #2980b9;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$pumpkin: #d35400;
$orange: #f39c12;
$carrot: #e67e22;
$nephritis: #27ae60;
$emerald: #2ecc71;
$torquoise: #1abc9c;
$greensea: #16a085;
$sunflower: #f1c40f;
