/* src/assets/styles/pages/_index.scss  */
.header {
  background-color: $navbg;
  color: #fff;

  &__upper {
    .col {
      border-bottom: 1px solid $white;
    }
  }

  a {
    &, &:hover, &:visited {
      color: $white;
    }
  }

  .brand-image {
    width: auto;
    height: 60px;
  }

  .menu-icon {
    color: $white;
  }
}

.flag-link {
  img {
    width: 32px;
    height: 32px;
  }
}

.property {
  &__header {
    background: $iceberg;
    color: $greytext;
  }

  &__bonus {
    background-color: #ECFAF5;
    color: $greytext;
    height: 100px;

    .lf-item {
      min-width: 100px;
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__info {
    background-color: $balihai;
    color: $white;
  }

  &__footer {
    background-color: $green;
    color: $white;
  }
}

.icons {
  &__item {
  }
}
.price {
  &__starts {
  }

  &__alert {
    background: $green;
    color: $white;
    font-size: .8rem;
    font-weight: 100;
    width: fit-content;
    border-radius: 5px;

    span {
      vertical-align: middle;
    }
  }
}

.button {
  background: none;
  border: 1px solid $white;
  border-radius: 7px;
  padding: 7px 16px;
  font-size: 1.2rem;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $white;
    color: $balihai;
  }
}

.footer {
  background-color: $footerbg;
  color: $white;
}




.svg-info {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 437.6 437.6'%3E%3Cpath d='M194 142.8c.8 1.6 1.6 3.2 2.4 4.4.8 1.2 2 2.4 2.8 3.6 1.2 1.2 2.4 2.4 4 3.6 1.2.8 2.8 2 4.8 2.4 1.6.8 3.2 1.2 5.2 1.6 2 .4 3.6.4 5.2.4s3.6 0 5.2-.4 3.2-.8 4.4-1.6h.4c1.6-.8 3.2-1.6 4.8-2.8 1.2-.8 2.4-2 3.6-3.2l.4-.4c1.2-1.2 2-2.4 2.8-3.6s1.6-2.4 2-4c0-.4 0-.4.4-.8.8-1.6 1.2-3.6 1.6-5.2.4-1.6.4-3.6.4-5.2s0-3.6-.4-5.2-.8-3.2-1.6-5.2c-1.2-2.8-2.8-5.2-4.8-7.2l-.8-.8c-1.2-1.2-2.4-2-4-3.2-1.6-.8-2.8-1.6-4.4-2.4-1.6-.8-3.2-1.2-4.8-1.6-2-.4-3.6-.4-5.2-.4s-3.6 0-5.2.4-3.2.8-4.8 1.6h-.4c-1.6.8-3.2 1.6-4.4 2.4-1.6 1.2-2.8 2-4 3.2-1.2 1.2-2.4 2.4-3.2 3.6-.8 1.2-1.6 2.8-2.4 4.4-.8 1.6-1.2 3.2-1.6 4.8-.4 2-.4 3.6-.4 5.2s0 3.6.4 5.2c.4 3.2 1.2 4.8 1.6 6.4zM249.6 289.2h-9.2v-98c0-5.6-4.4-10.4-10.4-10.4h-42c-5.6 0-10.4 4.4-10.4 10.4v21.6c0 5.6 4.4 10.4 10.4 10.4h8.4v66.4H188c-5.6 0-10.4 4.4-10.4 10.4v21.6c0 5.6 4.4 10.4 10.4 10.4h61.6c5.6 0 10.4-4.4 10.4-10.4V300c0-6-4.8-10.8-10.4-10.8z'/%3E%3Cpath d='M218.8 0C98 0 0 98 0 218.8s98 218.8 218.8 218.8 218.8-98 218.8-218.8S339.6 0 218.8 0zm0 408.8c-104.8 0-190-85.2-190-190s85.2-190 190-190 190 85.2 190 190-85.2 190-190 190z'/%3E%3C/svg%3E")  no-repeat 50% 50%;
  mask-size: 100%;
  width: 15px;
  height: 15px;
  background: $white;
  display: inline-block;
}

.svg-tick {
  mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 26 26'%3E%3Cpath d='m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z'/%3E%3C/svg%3E%0A")  no-repeat 50% 50%;
  mask-size: 100%;
  width: 15px;
  height: 15px;
  background: $white;
  display: inline-block;
}

.left-side {
  max-width: 100%;
  background-color: $nhatranghai;
  transition: all .3s ease;
}

.right-side {
  max-width: 0%;
  max-height: 0;
  overflow: hidden;
  background-color: $sandy;
  transition: all .3s ease;
}

.property__bonus, .property__tabs {
  max-height: 0;
  overflow: hidden;
  padding: 0 !important;
  transition: all .3s ease;
}

.min {
  display: none;
}

.property__footer {
  max-height: 100px;
  transition: all .3s ease;
}

.property--opened {
  .property__footer {
    max-height: 0;
    overflow: hidden;
    padding: 0 !important;
  }

  .left-side {
    max-width: 60%;
  }

  .property__bonus, .property__tabs {
    max-height: 2000px;
  }

  .right-side {
    max-width: 40%;
    max-height: 2000px;
  }

  @media screen and (max-width: 992px) {
    .right-side, .left-side {
      max-width: 100%;
    }
  }

  .property__tabs, .min {
    display: block;
  }

  .max, .seemore {
    display: none;
  }
}





.seemore {

}

.from {
  width: 15%;
  min-width: 175px;
}

.icons {

}

.additional {
  &__button {
    width: 22%;
    position: relative;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
      opacity: 0;
    }

    input:checked ~ .additional__button-hover {
      display: block;
    }

    &:hover {
      .additional__button-hover {
        display: block;
      }
    }

    &-hover {
      content: '';
      z-index: 10;
      border-radius: 50%;
      border: 5px solid $greytext;
      width: 100%;
      height: 100%;
      position: absolute;
      display: none;
      background-color: rgba($white, .8);

      .svg {
        background-color: $greytext;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 40%;
        position: absolute;
      }
    }

    &-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      p {
        white-space: nowrap;
        display: block;
        margin-bottom: 7px;
      }

      i {
        display: block;
      }
    }

    &-svg {
      max-width: 100%;
      height: auto;
    }
  }
}

.form {
  input, textarea {
    width: calc(100% - 2px);
    display: block;
    padding: 13px 25px;
    margin: 0 1px 1px;
    border: 0;
    outline: 0;
    appearence: none;
    box-sizing: border-box;
  }

  input[type='submit'] {
    background-color: $green;
    margin: 0;
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    height: 100px;
  }

  &__agreement {
    width: 100%;
    position: relative;

    &-checkbox {
      width: 32px;
      height: 32px;
      background: $white;
      border-radius: 3px;
      position: relative;
      flex-shrink: 0;
    }

    &-info {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;

      .svg-info {
        width: 20px;
        height: 20px;
        background-color: $greytext !important;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }
    }

    &-text {
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
      opacity: 0;
      cursor: pointer;
    }

    input:checked ~ .svg {
      display: block;
    }

    .svg-tick {
      background: $greytext;
      width: 60%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }
}

.text-content {
  p.small {
    margin-bottom: 15px;
    font-size: .9rem;
  }

  h6 {
    margin-bottom: 25px;
  }
}

.break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.nav {
  background-color: #B0CECF;
}

.nav-tabs {
  border: 0;
}

.nav-item {
  background-color: none;
  // border: none;
  border-radius: 0 !important;
  color: $white;
  flex: 1;

  &:hover {
    color: $white;
  }

  &:hover {
    border-color: rgba(0,0,0,0) !important;
    border-bottom: 0;
    box-sizing: border-box;
    margin: 0;
  }

  &.active {
    background-color: $iceberg !important;
    border: 1px solide transparent;
  }
}

.navbar button {
  padding: 0 !important;
}

.break {
  display: none;
}

@media screen and (max-width: 420px) {
  .additional__button {
    width: 35%;
    margin: 0 21px 15px;
  }

  .break {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .small {
    font-size: 70%;
    font-weight: 100;
  }

  .flag-link {
    img {
      width: 26px;
      height: 26px;
    }
  }

  .property__bonus {
    height: auto;

    .lf-item {
      margin-bottom: 15px;
    }
  }

  .content > .container > .row > .col {
    padding: 0 !important;
  }

  .property--opened .property__bonus {
    padding: 15px 0 0 0 !important;
  }
}
