mixin circule
  <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
    <g>
      <circle fill='#FEF6ED' r="50%" cx="50%" cy="50%" class="circle-back"></circle>
    </g>
  </svg>
  
mixin additional(name, icon, caption)  
  .additional__button
    input(type='checkbox' name= name)
    .additional__button-hover
      .svg.svg-tick
    .additional__button-svg
      +circule
    .additional__button-wrap
      p.small= caption
      i.fa.fa-lg(class= icon)

mixin wespeak
  .text-content.d-flex.align-items-center.pt-4.px-sm-4
    .flag-link.mr-3
      img(src='assets/images/flags/france.svg')
    
    p We speak Franch (However online descripiton is translated by a machine)

mixin lorem
  .text-content.pt-4.px-sm-4.pb-4
    h6 Comtemporary Boutique Townhouses in Fuegriola.
    p.small It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

mixin property__bonus
  .property__bonus.d-flex.flex-row.p-4.flex-wrap
    .lf-item.d-flex.flex-column.flex-grow-1.text-center.justify-content-center
      i.fa.fa-spa.fa-2x
      span Spa
    .lf-item.d-flex.flex-column.flex-grow-1.text-center.justify-content-center
      i.fas.fa-utensils.fa-2x
      span Restaurant
    .lf-item.d-flex.flex-column.flex-grow-1.text-center.justify-content-center
      i.fas.fa-table-tennis.fa-2x
      span Tennis
    .lf-item.d-flex.flex-column.flex-grow-1.text-center.justify-content-center
      i.fas.fa-concierge-bell.fa-2x
      span Concierge
    .lf-item.d-flex.flex-column.flex-grow-1.text-center.justify-content-center
      i.fas.fa-car.fa-2x
      span Garage


mixin property__footer
  .container.flex-grow-0.property__footer.py-4
    .row
      .col.text-center
        p Click to see <strong>2 Available</strong> Properties that match search your criteria in this Development


mixin property__info(id)
  .container.flex-grow-0.property__info.py-4
    .row.d-flex.align-items-center.flex-column.flex-md-row
      .col-md-3.price.text-center.from.flex-grow-0
        .price__starts
          p.bigger-text From <strong>€288,500</strong>
        .price__alert.py-0.px-2.mx-auto
          span.mr-2 Increassed +10%
          span.svg.svg-info
          
      .icons.d-flex.justify-content-center.justify-content-md-start.py-4.py-md-0.ml-4.flex-grow-1
        .icons__item.mr-4.d-flex.flex-column.flex-sm-row.text-center.align-items-center
          i.fa.fa-bed.fa-lg
          span.ml-sm-2 3-4
        .icons__item.mr-4.d-flex.flex-column.flex-sm-row.text-center.align-items-center
          i.fa.fa-bath.fa-lg
          span.ml-sm-2 3-4
        .icons__item.mr-4.d-flex.flex-column.flex-sm-row.text-center.align-items-center
          i.fa.fa-square.fa-lg
          span.ml-sm-2 149-231 sq.m.
          
      .more-button.text-center.text-lg-left.seemore.flex-grow-0.mr-md-5.m-auto
        button.button.js-click-collapse(data-collapseid='#' + id) see more


mixin form
  form.form.flex-grow-3.d-flex.flex-column
    p.pb-3 Please select what info you need:
    .additional.pb-3.px-3.d-flex.flex-wrap.justify-content-between
      +additional('video', 'fa-youtube', 'Video')
      +additional('insights', 'fa-map', 'Local Insights')
      .break
      +additional('floorplans', 'fa-square', 'Floorplans')
      +additional('pricelist', 'fa-tag', 'Price List')

    input(type='text' name='name' placeholder='Full Name')
    input(type='text' name='country' placeholder='Country')
    input(type='text' name='phone' placeholder='Phone number')
    input(type='email' name='email' placeholder='E-mail')
    textarea(placeholder='Additinal Info:' name='additional-info' rows='4')

    .form__agreement.px-4.d-flex.py-5.flex-grow-2
      .form__agreement-info
        a(href='#').svg.svg-info
      .form__agreement-checkbox.mr-3
        input(type='checkbox' name='agreement' checked)
        .svg.svg-tick
      .form__agreement-text
        p Yes you may contact me with the requested information on email or phone
      
    input(type='submit' value='Get info now').p-4
    
mixin sidebar-header
  .container.flex-grow-1.d-flex.flex-column.justify-content-center.align-ites-center
    .row
      .col
        p.title.pb-1 Get <strong>All</strong> information
        p Comtemporary Boutique Townhouses in Fuegriola.

mixin property__header(id)
  .container.property__header.py-4
    .row
      .col-10.col-lg
        p.grey-text Contemoirary Boutique Townhouses in Fuengirola - DV1562
      .col-2.col-lg.text-right
        a(href='#' data-collapseid='#' + id).js-click-collapse.grey-text
          i.fa.fa-window-maximize.max
          i.fa.fa-window-minimize.min

mixin property__image
  .container.property__image
    .row.d-block
      img(src='/assets/images/property.jpg')


mixin property(id)
  .property.js-property(id= id)
    +property__header(id)
    +property__image
    .expandable-area.d-flex.flex-lg-row.flex-column
      .left-side.d-flex.flex-column
        +property__info(id)
        +property__footer
        
        .property__tabs.flex-grow-1
          nav
            #nav-tab.nav.nav-tabs(role='tablist').d-flex
              a#development-tab.py-3.nav-item.nav-link.active(data-toggle='tab', href='#development', role='tab', aria-controls='development', aria-selected='true') The Development   
              a#area-tab.py-3.nav-item.nav-link(data-toggle='tab', href='#area', role='tab', aria-controls='area', aria-selected='false') The Area
          #nav-tabContent.tab-content
            #development.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='development-tab')
              .container
                .row
                  .col
                    +wespeak
                    +lorem
            #area.tab-pane.fade(role='tabpanel', aria-labelledby='area-tab')
              .container
                .row
                  .col
                    +wespeak
                    +lorem
        +property__bonus.flex-grow-0

      .right-side.pt-md-3.text-center.d-flex.flex-column
        +sidebar-header
        +form 
