extends ./layouts/master.pug

block title
  title My Page - Home

block basicSeo
block content

  section.content
    .container
      .row
        .col
          +property('prop1')
          +property('prop2')
          +property('prop3')
          +property('prop4')
