//- src/views/components/footer.pug

footer.footer.align-items-center.justify-content-center.d-flex
  .container
    .row.justify-content-center
      .col-10.col-sm-12.text-center.py-4
        p.footer__text Update: Now we do what nobody else can. Find relevent units in Developnets. Find a truely relevant and available now build property.
