header.header
  .header__upper
    .container
      .row
        .col.d-flex.justify-content-between.justify-content-sm-end.align-items-center.py-2
          .contacts.d-flex
            p.small Call us: +34 683 57 35 34
            a(href='#').small.px-sm-4.px-2 Login
          .flags.d-flex
            a.flag-link(href='#')
              img(src='/assets/images/flags/uk.svg')
            a.flag-link(href='#').px-sm-2.px-1
              img(src='/assets/images/flags/usa.svg')
            a.flag-link(href='#')
              img(src='/assets/images/flags/france.svg')
            
  .header__nav
    .container
      .row
        nav.navbar.navbar-expand-md.col
          a.navbar-brand(href='#')
            img(src='/assets/images/logo.svg').brand-image
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu', aria-controls='menu', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars.fa-lg.menu-icon
          #menu.collapse.navbar-collapse
            nav.navbar-nav.ml-auto.text-center.text-sm-right
              a.nav-link(href='#').active Listing
              a.nav-link(href='#') Areas
              a.nav-link(href='#') Services
              a.nav-link(href='#') Contract
